.problem {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.result {
    text-align: center;
    height: 20vh;
    font-size: 2.5em;
}

.options {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 0 2rem;
    height: 30px;
}

.options button {
    height: 100%;
    width: fit-content;
    padding: 0 1rem;
    border: 1px solid var(--dark-highlight);
    background: var(--dark-highlight);
    color: var(--light-text)
}

.options button:hover {
    background-color: var(--mid-highlight);
    transition: all ease-in-out 0.2s;
}

.options a {
    color: inherit;
    text-decoration: none;
}

.notice {
    background-color: #333;
    position: fixed;
    bottom: 40px;
    justify-content: center;
    align-items: center;
}

.notice p {
    color: var(--light-text);
    text-align: justify;
    max-width: 500px;
}