.Portfolio_item {
    margin: 1rem;
    padding: 2rem 3rem;
    width: calc(100% - 2rem);
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    border-radius: 2rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.Portfolio_item h1 {
    color: var(--mid-accent);
    margin-top: 0;
    margin-bottom: .5rem;
}

.Portfolio_item h4 {
    color: var(--light-accent);
    margin-bottom: 1rem;
}

.Portfolio_description img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 1rem);
    max-width: 400px;
    height: auto;
    padding: 0 .5rem;
    border-radius: 2rem;
}

.Portfolio_highlight {
    border-radius: 1.5rem;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--light-text);
    background: var(--light-gradient);
}

.Portfolio_highlight ul {
    position: relative;
    margin: 0;
    padding: .75rem 2rem;
    list-style: disc;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.Portfolio_highlight li {
    padding-right: 2rem;
    text-shadow: .5px .5px 2px #fff;
}
