{{ template "header" . }}

{{ template "math-practice" . }}


<section class="body-block fullheight">
    <div class="options">
        <button>
            <a type="link" href="/practice/fraction-simplification">
                New Problem
            </a>
        </button>
    </div>

    <div class="problem">
        <p>
            Simplify this fraction:
        </p>

        $$\frac{ {{.Numerator}} }{ {{.Denominator}} }$$

        <form id="fraction-simplification-form">
            <input type="hidden" name="n0" value={{.Numerator}}>
            <input type="hidden" name="d0" value={{.Denominator}}>

            <label for="n1">Numerator:</label>
            <input type="number" name="n1" required autofocus>
            <label for="d1">Denominator:</label>
            <input type="number" name="d1" required>

            <button class="button-30" type="submit" role="button">Submit</button>
        </form>
    </div>

    <div class="result">
        <!-- Correct 😊 -->
        <!-- <br>
        Nope 😢 -->
    </div>
</section>

{{ template "footer" . }}