{{ define "header" }}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Mynerve">

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="/file/css/nav.css">

    <!-- meta data -->
    <link rel="shortcut icon" type="image/png" href="/file/svg/light-climber.svg"/>
    <title>Stéphane Dorotich</title>

  </head>
  <body>
    <section class="Navbar_root">
      <section class="Navbar_container">
        <a class="Logo" href="/">
          <img src="/file/svg/light-climber.svg" alt=""/>
          Dorotich.dev
        </a>
        <ul class="Navbar_nav">
          <li><a class="Navbar_item" href="/cv">CV</a></li>
          <li><a class="Navbar_item" href="/portfolio">Portfolio</a></li>
          <!-- <li class="Navbar_accordion">
            <div class="Navbar_item">
              Math Practice
              <img src="/file/svg/light-chevron-down.svg" class="icon_sm">
              <img src="/file/svg/light-chevron-up.svg" class="icon_sm hidden">
            </div>
            <ul class="Navbar_sublist">
              <li><a class="Navbar_subitem" href="/practice/fraction-simplification">Fraction Simplification</a></li>
              <li><a class="Navbar_subitem" href="/practice/fraction-summation">Fraction Sums</a></li>
              <li><a class="Navbar_subitem" href="/practice/fraction-multiplication">Fraction Products</a></li>
            </ul>
          </li> -->
        </ul>
        <button class="Navbar_hamburger" onclick="OpenSidebar()">
          <svg width="40px" height="40px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <line x1="5" y1="7" x2="19" y2="7" id="Path" stroke="#ccc" stroke-width="1.5" stroke-linecap="round"></line>
            <line x1="5" y1="17" x2="19" y2="17" id="Path" stroke="#ccc" stroke-width="1.5" stroke-linecap="round"></line>
            <line x1="5" y1="12" x2="19" y2="12" id="Path" stroke="#ccc" stroke-width="1.5" stroke-linecap="round"></line>
          </svg>
        </button>
      </section>
    </section>

    <section class="Sidebar_root">
      <button class="Sidebar_overlay" onclick="CloseSidebar()"></button>
      <section class="Sidebar_container">
        <header class="Sidebar_header">
          <button class="Sidebar_signin">
            <img src="/file/svg/climber.svg" class="icon">
            <p>
              Welcome!
              <br>
              <a></a>
            </p>
          </button>
          <button class="Sidebar_close" onclick="CloseSidebar()">
            <img src="/file/svg/cross.svg" class="icon">
          </button>
        </header>
        <nav class="Sidebar_nav">
          <ul>
            <li><a class="Sidebar_item" href="/">Home</a></li>
            <li><a class="Sidebar_item" href="/cv">CV</a></li>
            <li><a class="Sidebar_item" href="/portfolio">Portfolio</a></li>
            <!-- <li class="Sidebar_accordion">
              <div class="Sidebar_item">
                Math Practice
                <img src="/file/svg/chevron-down.svg" class="icon_sm">
                <img src="/file/svg/chevron-up.svg" class="icon_sm hidden">
              </div>
              <ul class="Sidebar_sublist">
                <li><a class="Sidebar_subitem" href="/practice/fraction-simplification">Fraction Simplification</a></li>
                <li><a class="Sidebar_subitem" href="/practice/fraction-summation">Fraction Sums</a></li>
                <li><a class="Sidebar_subitem" href="/practice/fraction-multiplication">Fraction Products</a></li>
              </ul>
            </li> -->
          </ul>
        </nav>
      </section>
    </section>
    <script src="/file/js/nav.js"></script>

{{ end }}