{{ template "header" . }}

<div class="hero fullheight">
    <img src="/file/img/profile.jpg">
    <div class="content">
        <h1>Hello 😊,</h1>
        <p>
            I'm Stéphane, a bilingual Software Developer living near Calgary, Alberta.
            I recently graduated with honours (GPA 3.7) from Computer Science at the University of Calgary.
            I am interested in scalable web applications and am excited to contribute apply my knowledge in a production environment
            alongside other skilled developers and engineers.
        </p>
    </div>
</div>

{{ template "footer" . }}
