{{ template "header" . }}

<div class="hero fullheight">
    <img src="/file/img/profile.jpg">
    <div class="content">
        <h1>Hello 😊,</h1>
        <p>
            I'm Stéphane, a bilingual Software Developer living near Calgary, Alberta.
            I recently graduated with honours (GPA 3.7) from Computer Science at the University of Calgary.
        </p>
        <p>
            I have operated a private tutoring business for nearly a decade, worked as a supervisor in various industries (retail, coffee,
            hospitality, climbing gym), and was employed as a teaching assisstant for a year. My communication and collaboration skills are highly developed
            and I have excellent foundations in math and theoretical computer science.
        </p>
        <p>
            I am interested in scalable web applications and look forward to applying my knowledge
            and participating in a team of skilled developers.
        </p>
    </div>
</div>

{{ template "footer" . }}
