{{ template "header" . }}

<div class="hero">
    <img src="/file/img/profile.jpg">
    <div class="content">
        <p>
            <h1>Hello 😊,</h1>
            I'm Stéphane, a bilingual Software Engineer living near Calgary, Alberta.
            I recently graduated with honours (GPA 3.7) in Computer Science at the University of Calgary.
            I am seeking employment in DevOps so I can learn more about scalable web applications.  
        </p>
    </div>
</div>

{{ template "footer" . }}