{{ define "portfolio_website" }}

<p>
    In 2021, I had the opportunity to take
    <a href="https://contacts.ucalgary.ca/info/cpsc/courses/w21/CPSC399.3" target="_blank">CPSC 399</a>,
    a course in Self-directed study.
</p>
<p>
    At the time, I hadn't the faintest idea how the internet actually worked, nor how website's were made
    to look the way they do.
</p>
<p>
    I spent the semester investigating the basics of browsers and the three languages that make up the
    bulk of web-browsing traffic: HTML, CSS, and JavaScript.
</p>
<p>
    At the end of the semester, I decided to put my new-found knowledge to use and build a website to
    advertise my tutoring business. The pandemic had affected my client base and so I needed a way to 
    rebuild it.
</p>
<a href="https://stephanedorotich.github.io" target="_blank"><img src="/file/img/tutoring_website.png"></a>
<p>
    Without any understanding of certificates or encryption, I discovered that GitHub Pages was my easiest
    way to providing a secure website. My efforts paid off and Fall 2021 was my busiest semester of
    tutoring ever.
</p>

{{ end }}