{{ define "portfolio_website" }}

<p>
    In 2021, I had the opportunity to take
    <a href="https://contacts.ucalgary.ca/info/cpsc/courses/w21/CPSC399.3" target="_blank">CPSC 399</a>,
    a course in self-directed study in computer science.
</p>
<p>
    At the time, I did not understand how the internet worked (networking: packets, protocols, etc.), nor how websites were made
    to look the way they do.
</p>
<p>
    I spent the semester investigating the basic functionality of browsers and how HTML, CSS, and JavaScript work together to present the interactive
    face of the internet.
</p>
<p>
    At the end of the semester, I put my new-found knowledge to use and built a website to
    promote my tutoring business, which had shrunk over the course of the pandemic and was in need of some advertising.
</p>
<a href="https://stephanedorotich.github.io" target="_blank"><img src="/file/img/tutoring_website.png"></a>
<p>
    Because I still didn't understand the nature of https (encryption and certificates) I found that GitHub Pages was an accessible
    means of hosting a secure website. After launching the website and promoting it with Google and Facebook, I had the busiest semester of tutoring to date in Fall 2021.
</p>

{{ end }}