{{ define "portfolio_dynamic_website" }}

<p>
    I have been interested in learning GoLang for some time and this website is my first major
    exploration in it. Development began in 2023. I still have lot's of work I want to do.
    For the past few weeks, most of my time has been spent fleshing out HTML templates and the
    accompanying CSS/JavaScript (check it out on mobile 😊) but as of March 2nd 2023, I am mostly
    ready to return to the backend design.
</p>
<p>
    The webserver is running on an AWS EC2 instance and is encrypted with a certificate obtained from
    Let's Encrypt. The webserver itself is written in GoLang and responds to both HTTP and HTTPS traffic.
</p>

{{ end }}