{{ define "portfolio_dynamic_website" }}

<p>
    I have been interested in learning GoLang for some time and this website is my first major
    exploration in it. Currently, the a GoLang webserver is running on an AWS EC2 instance. I obtained a certificate
    from Let's Encrypt. I've written all of the html and css and am using GoLang HTML templates to deliver the content.
</p>
<p>
    I realize that using a front-end framework and back-end framework is the ideal approach for web development. I would like to
    implement this website using either Angular or React for the front-end and Gin (GoLang library) for the back-end development.
</p>

{{ end }}